////
/// @group Borders
/// @author Brandon Sara (http://bsara.github.io)
////



//----------------------------------------------------------------------------------//
// Mixins                                                                           //
//----------------------------------------------------------------------------------//


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix.
///
/// @param $radius - The border radius.
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix for only the bottom corners of an element.
///
/// @param $radius - The border radius.
///
/// @requires {mixin} border-bottom-left-radius
/// @requires {mixin} border-bottom-right-radius
@mixin border-bottom-radius($radius) {
  @include border-bottom-left-radius($radius);
  @include border-bottom-right-radius($radius);
}
/// @see border-bottom-radius
/// @requires border-bottom-radius
@mixin border-radius-bottom($radius) {
  @include border-bottom-radius($radius);
}


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix for only the bottom-left corner of an element.
///
/// @param $radius - The border radius.
@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}
/// @see border-bottom-left-radius
/// @requires border-bottom-left-radius
@mixin border-radius-bottom-left($radius) {
  @include border-bottom-left-radius($radius);
}


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix for only the bottom-right corner of an element.
///
/// @param $radius - The border radius.
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}
/// @see border-bottom-right-radius
/// @requires border-bottom-right-radius
@mixin border-radius-bottom-right($radius) {
  @include border-bottom-right-radius($radius);
}


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix for only the left side corners of an element.
///
/// @param $radius - The border radius.
///
/// @requires {mixin} border-top-left-radius
/// @requires {mixin} border-bottom-left-radius
@mixin border-left-radius($radius) {
  @include border-top-left-radius($radius);
  @include border-bottom-left-radius($radius);
}
/// @see border-left-radius
/// @requires border-left-radius
@mixin border-radius-left($radius) {
  @include border-left-radius($radius);
}


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix for only the right side corners of an element.
///
/// @param $radius - The border radius.
///
/// @requires {mixin} border-top-right-radius
/// @requires {mixin} border-bottom-right-radius
@mixin border-right-radius($radius) {
  @include border-top-right-radius($radius);
  @include border-bottom-right-radius($radius);
}
/// @see border-right-radius
/// @requires border-right-radius
@mixin border-radius-right($radius) {
  @include border-right-radius($radius);
}


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix for only the top corners of an element.
///
/// @param $radius - The border radius.
///
/// @requires {mixin} border-top-left-radius
/// @requires {mixin} border-top-right-radius
@mixin border-top-radius($radius) {
  @include border-top-left-radius($radius);
  @include border-top-right-radius($radius);
}
/// @see border-top-radius
/// @requires border-top-radius
@mixin border-radius-top($radius) {
  @include border-top-radius($radius);
}


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix for only the top-left corner of an element.
///
/// @param $radius - The border radius.
@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}
/// @see {mixin} border-top-left-radius
/// @requires {mixin} border-top-left-radius
@mixin border-radius-top-left($radius) {
  @include border-top-left-radius($radius);
}


/// Generates the property `border-radius` as well as each necessary
/// vendor prefix for only the top-right corner of an element.
///
/// @param $radius - The border radius.
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}
/// @see {mixin} border-top-right-radius
/// @requires {mixin} border-top-right-radius
@mixin border-radius-top-right($radius) {
  @include border-top-right-radius($radius);
}
