////
/// @group Margin
/// @author Brandon Sara (http://bsara.github.io)
////



//----------------------------------------------------------------------------------//
// Mixins                                                                           //
//----------------------------------------------------------------------------------//


/// Sets `margin-bottom` and `margin-left` to the same value.
///
/// @param $val - Margin amount.
@mixin margin-bottom-left($val) {
  margin: {
    left: $val;
    bottom: $val;
  }
}


/// Sets `margin-bottom` and `margin-right` to the same value.
///
/// @param $val - Margin amount.
@mixin margin-bottom-right($val) {
  margin: {
    right: $val;
    bottom: $val;
  }
}


/// Sets `margin-bottom`, `margin-left`, and `margin-right` to the same value.
///
/// @param $val - Margin amount.
///
/// @requires {mixin} margin-sides
@mixin margin-bottom-sides($val) {
  @include margin-sides($val);
  margin-bottom: $val;
}


/// Sets `margin-left` and `margin-right` to the same value.
///
/// @param $val - Margin amount.
@mixin margin-sides($val) {
  margin: {
    left: $val;
    right: $val;
  }
}


/// Sets `margin-top` and `margin-bottom` to the same value.
///
/// @param $val - Margin amount.
@mixin margin-top-bottom($val) {
  margin: {
    top: $val;
    bottom: $val;
  }
}


/// Sets `margin-top` and `margin-left` to the same value.
///
/// @param $val - Margin amount.
@mixin margin-top-left($val) {
  margin: {
    top: $val;
    left: $val;
  }
}


/// Sets `margin-top` and `margin-right` to the same value.
///
/// @param $val - Margin amount.
@mixin margin-top-right($val) {
  margin: {
    top: $val;
    right: $val;
  }
}


/// Sets `margin-top`, `margin-left`, and `margin-right` to the same value.
///
/// @param $val - Margin amount.
///
/// @requires {mixin} margin-sides
@mixin margin-top-sides($val) {
  @include margin-sides($val);
  margin-top: $val;
}
