////
/// @group Padding
/// @author Brandon Sara (http://bsara.github.io)
////



//----------------------------------------------------------------------------------//
// Mixins                                                                           //
//----------------------------------------------------------------------------------//


/// Sets `padding-bottom` and `padding-left` to the same value.
///
/// @param $val - Padding amount.
@mixin padding-bottom-left($val) {
  padding: {
    left: $val;
    bottom: $val;
  }
}


/// Sets `padding-bottom` and `padding-right` to the same value.
///
/// @param $val - Padding amount.
@mixin padding-bottom-right($val) {
  padding: {
    right: $val;
    bottom: $val;
  }
}


/// Sets `padding-bottom`, `padding-left`, and `padding-right` to the same value.
///
/// @param $val - Padding amount.
@mixin padding-bottom-sides($val) {
  @include padding-sides($val);
  padding-bottom: $val;
}


/// Sets `padding-left` and `padding-right` to the same value.
///
/// @param $val - Padding amount.
@mixin padding-sides($val) {
  padding: {
    left: $val;
    right: $val;
  }
}


/// Sets `padding-top` and `padding-bottom` to the same value.
///
/// @param $val - Padding amount.
@mixin padding-top-bottom($val) {
  padding: {
    top: $val;
    bottom: $val;
  }
}


/// Sets `padding-top` and `padding-left` to the same value.
///
/// @param $val - Padding amount.
@mixin padding-top-left($val) {
  padding: {
    top: $val;
    left: $val;
  }
}


/// Sets `padding-top` and `padding-right` to the same value.
///
/// @param $val - Padding amount.
@mixin padding-top-right($val) {
  padding: {
    top: $val;
    right: $val;
  }
}


/// Sets `padding-top`, `padding-left`, and `padding-right` to the same value.
///
/// @param $val - Padding amount.
@mixin padding-top-sides($val) {
  @include padding-sides($val);
  padding-top: $val;
}
